<% menu_categories.order(:id).each do |category| %>

        <div class="MenuCategory-Title">
            <span style="display:flex;align-items:center;">
                <p style="margin-right:15%;"><%= category.name %></p>

                <%= form_with(url: "/menu_categories/#{category.id}",
                              method: "PUT") do %>
            <%= submit_tag(category.status ? "disable" : "enable",
                           class: category.status ? "UsersForm-cartbutton" : "UsersForm-Submit") %>
            <% end %>

            </span>


            <span style="display:flex;margin-right:5%;">

            <%= form_with(url: "/menu_categories/#{category.id}",
                          method: "DELETE") do %>
                                <%= submit_tag("Remove",
                                               class: "UsersForm-menubutton") %>
                            <% end %>
            <button onclick="toggler('<%= category.name %>')" style="margin:0px 10%;" class="UsersForm-menubutton"> ☰ </button>
            </span>
        </div>



        <ul class="MenuCategory-Section" id = "<%= category.name %>" style="display:block;">

            <% MenuItem.order(:id).get_menu_items(category.id).map do |item| %>


                    <li class= "MenuItem">

                        <div class="MenuItem-header">
                            <span class="MenuItem-title"><%= item.name %></span>
                            <span class="MenuItem-price">₹ <%= item.price %></span>

                            <%= form_with(url: "/menu_items/#{item.id}",
                                          method: "PUT") do %>
                                <%= submit_tag(item.availability ? "disable" : "enable",
                                               class: item.availability ? "UsersForm-cartbutton" : "UsersForm-Submit") %>

                            <% end %>
                            <%= form_with(url: "/menu_items/#{item.id}",
                                          method: "DELETE") do %>
                                <%= submit_tag("Remove",
                                               class: "UsersForm-menubutton") %>
                            <% end %>
                        </div>

                        <p class="MenuItem-description"><%= item.description %></p>
                    </li>

            <% end %>

        </ul>

<% end %>
