<section class="MenuCategoryPage">
    <p class = "MenuTitle">Menu Today</p>

    <% if @current_user.role == "owner" %>
        <%= render partial: "ownerpage", locals: {
                     menu_categories: MenuCategory.all,
                   } %>
    <% else %>
        <%= render partial: "customerpage", locals: {
                     menu_categories: MenuCategory.all,
                   } %>
    <% end %>


</section>

<section class="CartCategoryPage">
    <p class="MenuTitle">Cart</p>



        <div <%= @cart_items.present? ? "class=CartSection" : "style=display:none" %>>

            <p>Total: ₹<%= CartItem.total_amount(@current_user.id) %></p>
            <%= form_with(url: cart_clear_path,
                          method: "DELETE",
                          class: "CartClear") do %>
                <%= submit_tag("Clear", class: "UsersForm-cartbutton") %>
            <% end %>
            <%= form_with(url: "/orders/#{CartItem.total_amount(@current_user.id)}",
                          method: "POST",
                          class: "Checkout") do %>
                <%= submit_tag("Checkout", class: "UsersForm-Submit") %>
            <% end %>

        </div>

    <% if @cart_items.present? %>
        <div class ="Cart-section">
            <% @cart_items.each do |cartitem| %>
                <% item = MenuItem.find(cartitem.menu_item_id) %>

                <div class="CartItem-section">

                    <span class="MenuItem-title">
                        <%= item.name %>
                    </span>

                    <div class="CartQuantity">
                        <%= form_with(url: update_quantity_path(id: cartitem.id, quantity: -1),
                                      method: "PUT") do %>
                            <%= submit_tag("-", class: "UsersForm-cartbutton") %>
                        <% end %>

                        <span class="MenuItem-title">
                            <%= cartitem.quantity %>
                        </span>

                        <%= form_with(url: update_quantity_path(id: cartitem.id, quantity: 1),
                                      method: "PUT") do %>
                            <%= submit_tag("+", class: "UsersForm-Submit") %>
                        <% end %>
                    </div>

                    <span class="MenuItem-price">
                        ₹<%= item.price * cartitem.quantity %>
                    </span>

                </div>
            <% end %>
        </div>
    <% else %>
    <div class="CartEmpty-section">
        <p class="MenuTitle">Your Cart is empty</p>
    </div>

    <% end %>



</section>
