


<section class="MenuCategoryPage">
    <p class = "MenuTitle">Menu Today</p>

    <% if @current_user.role == "owner" %>
        <%= render partial: "ownerpage", locals: {
                     menu_categories: MenuCategory.all,
                   } %>
    <% else %>
        <%= render partial: "customerclerk", locals: {
                     menu_categories: MenuCategory.all,
                   } %>
    <% end %>


</section>

<section class="CartCategoryPage">
    <p class="MenuTitle">Cart</p>





    <% if @cart_items.present? %>
        <div class ="Cart-section">
            <% @cart_items.order(:created_at).each do |cartitem| %>
                <% item = MenuItem.find(cartitem.menu_item_id) %>


                    <div class="CartItem-section">

                        <span class="MenuItem-title">
                            <%= item.name %>
                        </span>

                        <div class="CartQuantity">
                            <%= form_with(url: update_quantity_path(id: cartitem.id, quantity: -1),
                                          method: "PUT") do %>
                                <%= submit_tag("-", class: "UsersForm-cartbutton") %>
                            <% end %>

                            <span class="MenuItem-title">
                                <%= cartitem.quantity %>
                            </span>

                            <%= form_with(url: update_quantity_path(id: cartitem.id, quantity: 1),
                                          method: "PUT") do %>
                                <%= submit_tag("+", class: "UsersForm-Submit") %>
                            <% end %>
                        </div>

                        <span class="MenuItem-price">
                            ₹<%= item.price * cartitem.quantity %>
                        </span>

                    </div>


            <% end %>


        </div>

        <div class="CartSection">

        <div style="display: flex; justify-content: space-between;">
        <p>Total: ₹<%= CartItem.total_amount(@current_user.id) %></p>
                <%= form_with(url: cart_clear_path,
                              method: "DELETE",
                              class: "CartClear") do %>
                    <%= submit_tag("Clear", class: "UsersForm-cartbutton") %>
                <% end %>
        </div>
        <div style="display: flex; justify-content: space-around;margin:10%;">
        Address: -
        <%= form_with(url: "/orders/#{CartItem.total_amount(@current_user.id)}",
                      method: "POST",
                      class: "Checkout") do |userorder| %>

        <%= userorder.text_area :deliver_address, size: "50x8" %>

        </div>

        <%= userorder.submit "Checkout", class: "UsersForm-Submit" %>

        <% end %>


    </div>
    <% else %>
    <div class="CartEmpty-section">
        <p class="MenuTitle">Your Cart is empty</p>
    </div>

    <% end %>





</section>
<script>
                function toggler(sectionid) {
                var x = document.getElementById(sectionid);
                if (x.style.display === "none") {
                x.style.display = "block";
                } else {
                x.style.display = "none";
                }

                }
                </script>
