<main class="UsersNewPage">
<p class="UsersNew-Title">Sign Up</p>

<section class="UsersForm">
	<%= form_with(url: users_path) do |form| %>
		<div class="UsersForm-section">
		  <p>	First Name:</p>
			<%= form.text_field :first_name, class: "UsersForm-input", autofocus: true %>
		</div>

		<div class="UsersForm-section">
		  <p>Last Name:</p>
		  <%= form.text_field :last_name, class: "UsersForm-input" %>
		</div>

		<div class="UsersForm-section">
				<p>Email:</p>
		<%= form.email_field :email, class: "UsersForm-input" %>
		</div>

		<div class="UsersForm-section">
			<p>Password:</p>
			<%= form.password_field :password, class: "UsersForm-input" %>
		</div>

		<div class="UsersForm-section">
		  <%= form.submit "Sign Up", class: "UsersForm-Submit" %>
		</div>
	<% end %>
</section>

</main>
